@font-face {
  font-family: 'AnonymousPro';
  src: url('../../assets/fonts/AnonymousPro-Regular.ttf') format('ttf'),
       url('../../assets/fonts/AnonymousPro-Regular.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
