@use '~@angular/material' as mat;

.code-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  a {
    line-height: 18px;
  }
  .material-icons {
    font-size: 18px;
    color: mat.get-color-from-palette(mat.$blue-palette, 400);
  }
}
