.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  .child {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px 0 0;
    pf-menu {
      margin: 0 20px 0 0;
    }
    .theme-switcher {
      display: flex;
      justify-content: center;
      align-items: center;
      mat-slide-toggle {
        margin: 0 5px;
      }
      button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.sun {
          color: #ffd740;
          background-color: #4141ff;
          margin: 0 2px 0 0;
          &:hover {
            cursor: pointer;
            color: #ffd740;
            opacity: 0.7;
          }
        }
        &.moon {
          color: #ffd740;
          background-color: #000;
          &:hover {
            cursor: pointer;
            color: #ffd740;
            opacity: 0.7;
          }
        }
      }
    }
  }
}


@media (max-width:960px) {
  .header {
    .child {
      justify-content: space-between;
    }
  }
}
