#about {
  h2 {
    font-size: 23px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  h3 {
    font-size: 18px;
    padding: 0;
    margin: 40px 0 0 0;
    text-align: center;
  }
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 10px auto 40px;
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin: 0 10px;
      white-space: nowrap;
      margin: 5px;
    }
  }
  .current-focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
