<div id="lab">
  <div class="title">
    {{title}}
  </div>
  <div class="content"
       [innerHtml]="contentHtml | sanitizeHtml"></div>
  <div class="cards">
    <mat-card>
      <mat-card-title align="center">Chart Libraries Test</mat-card-title>
      <mat-card-content>
        <div>D3js is svg chart and ECharts is canvas. I was thinking canvas chart is faster than svg chart, but customization is a limited of most of library. However ECharts has plenty options.</div>
      </mat-card-content>
      <mat-card-footer align="center">
        <button mat-stroked-button routerLink="/experiments/chart-libraries">Open</button>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-title align="center">Website Architecture</mat-card-title>
      <mat-card-content>
        <div>This website architecture</div>
      </mat-card-content>
      <mat-card-footer align="center">
        <button mat-stroked-button routerLink="/experiments/architecture">Open</button>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-title align="center">Work History</mat-card-title>
      <mat-card-content>
        <div>My work history</div>
      </mat-card-content>
      <mat-card-footer align="center">
        <button mat-stroked-button routerLink="/experiments/work-history">Open</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
