@use '~@angular/material' as mat;

#summary {
  height: 100vh;
  
  &.dark {
    background: url('../../../assets/images/dark.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    opacity: 1;
    }
  &.light {
    background: url('../../../assets/images/light.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  .blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 0 0 0;
    height: 100vh;
    .current {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          color: mat.get-color-from-palette(mat.$grey-palette, 50);
          font-size: 18px;
          line-height: 25px;
        }
        .category {
          color: mat.get-color-from-palette(mat.$grey-palette, 50);
          font-size: 42px;
          line-height: 42px;
        }
      }
      hr {
        height: 2px;
        width: 100%;
        border: none;
        background-color: mat.get-color-from-palette(mat.$red-palette, 900);
      }
      .title {
        color: mat.get-color-from-palette(mat.$grey-palette, 50);
        font-size: 21px;
        line-height: 21px;
      }
    }
  }
}

