@use '~@angular/material' as mat;
@import './assets/scss/font';
@include mat.core();

// light and dark themes
@import './assets/themes/light.scss';
@import './assets/themes/dark.scss';
.light-theme {
  @include mat.all-component-colors($light-theme);
  color: mat.get-color-from-palette(mat.$blue-grey-palette, 900);
  background-color: mat.get-color-from-palette(mat.$indigo-palette, 50);
  h2 {
    color: mat.get-color-from-palette(mat.$indigo-palette, 700);
  }
  h3 {
    color: mat.get-color-from-palette(mat.$indigo-palette, 700);
  }
  button.mat-stroked-button {
    color: mat.get-color-from-palette(mat.$blue-grey-palette, 900);
  }
  .menu-item {
    color: mat.get-color-from-palette(mat.$blue-grey-palette, 900);
    background-color: mat.get-color-from-palette(mat.$indigo-palette, 50);
  }
}
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  color: mat.get-color-from-palette(mat.$blue-grey-palette, 50);
  background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 900);
  h2 {
    color: mat.get-color-from-palette(mat.$amber-palette, 700);
  }
  h3 {
    color: mat.get-color-from-palette(mat.$amber-palette, 700);
  }
  button.mat-stroked-button {
    color: mat.get-color-from-palette(mat.$blue-grey-palette, 50);
  }
  .menu-item {
    color: mat.get-color-from-palette(mat.$blue-grey-palette, 50);
    background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 900);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#about,
#lab,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #fff;
  min-height: 720px;
  padding: 20px;
  .title {
    margin: 60px;
    font-size: 32px;
    text-align: center;
  }
  .content {
    max-width: 70%;
    font-size: 16px;
  }
}

a {
  color: mat.get-color-from-palette(mat.$blue-palette, 400);
  &:visited {
    color: mat.get-color-from-palette(mat.$blue-palette, 400);
  }
}

.embed-loading {
  width: 740px;
  height: 480px;
  background-color: mat.get-color-from-palette(mat.$indigo-palette, 50);
}
