@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@import '~@angular/material/theming';
@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: 'AnonymousPro, "Helvetica Neue", sans-serif'
);
@include mat-base-typography($custom-typography);

// light-theme
$portfolio-primary: mat-palette($mat-indigo);
$portfolio-accent: mat-palette($mat-pink, A200, A100, A400);
$portfolio-warn: mat-palette($mat-red);
$portfolio-theme: mat-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));
// dark-theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

@include angular-material-theme($portfolio-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
  &.light-theme {
    @include angular-material-theme($portfolio-theme);
    color: mat-color($mat-blue-grey, 900);
    background-color: mat-color($mat-indigo, 50);
  }
  &.dark-theme {
    @include angular-material-theme($dark-theme);
    color: mat-color($mat-blue-grey, 50);
    background-color: mat-color($mat-blue-grey, 900);
  }
}

// override mat-
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: AnonymousPro, 'Helvetica Neue', sans-serif;
}

