@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff') format('woff'),
       url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.woff') format('woff'),
       url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@import '~@angular/material/theming';
@include mat-core();

// light and dark themes
@import './assets/themes/light.scss';
@import './assets/themes/dark.scss';
.light-theme {
  @include angular-material-color($light-theme);
  color: mat-color($mat-blue-grey, 900);
  background-color: mat-color($mat-indigo, 50);
  h2 {
    color: mat-color($mat-indigo, 700);
  }
}
.dark-theme {
  @include angular-material-color($dark-theme);
  color: mat-color($mat-blue-grey, 50);
  background-color: mat-color($mat-blue-grey, 900);
  h2 {
    color: mat-color($mat-amber, 700);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#about,
#lab,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #fff;
  height: 720px;
  .title {
    width: 20%;
    margin: 60px;
    font-size: 32px;
    text-align: center;
  }
  .content {
    max-width: 70%;
    font-size: 16px;
  }
}

a {
  color: mat-color($mat-blue, 400);
  &:visited {
    color: mat-color($mat-blue, 800);
  }
}
